<footer>
  <div class="footer-border">
  <div class="footer-content">
    <a href="#">About William Horton</a>
     |&nbsp
    <a href="#">Help & Support</a>
     |&nbsp
    <a href="#">Status</a>
     |&nbsp
    <a href="http://www.tumblr.com/blog/hortonhearsafoo">Blog</a>
     |&nbsp
    <a href="#">Privacy and Cookie Policy</a>
     |&nbsp
    <a href="#">Services Agreement</a>
     |&nbsp
    <a href="#">Contact Us</a>

    <a href="https://www.twitter.com/hortonhearsafoo" class="twitter-link" target="_blank">Follow William Horton on Twitter</a>
  </div>
</footer>
