.profile {
  font-family: Arial, Verdana, sans-serif;
}

.user-management-header {
  height: 70px;
  background: #32353C;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  font-weight: normal;
}

.user-management-header .name {
  padding-top: 10px;
}

.user-management-header .sections {
  height: 30px;
}

.user-management-header .sections .section {
  padding-top: 10px;
  height: 27px;
  float: left;
  font-size: 12px;
  margin-right: 30px;
}

.user-management-header .sections .section.decorate a {
  color: #85bfe6;
}

.user-management-header .sections .section a:hover {
  color: #85bfe6;
  text-decoration: underline;
}

.profile-page.settings {
  margin-bottom: 45px;
}

.card {
  width: 750px;
  margin-bottom: 20px;
}

.card .header {
  background-color: #32353C;
  border: 1px solid #32353C;
  font-size: 10px;
  color: #A0A4A0;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  height: 37px;
  line-height: 37px;
  padding: 0;
}

.card .header h3,
.card ul.rows > li h4 {
  float: left;
  text-indent: 18px;
}

.card .header > h3 {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  margin-top: 1px;
  text-align: left;
  margin-right: 6px;
}

.card .header .actions {
  float: right;
  border: 0;
  background-color: transparent;
}

.profiles-page a.header-button {
  display: inline-block;
}

.edit-button {
  margin-top: 6px;
}

.save-button,
.edit-button {
  width: 29px;
}

.header-button {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 7px 15px 6px;
  line-height: 13px;
  margin: 5px 5px 5px 1px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #78797d;
  margin: 5px 5px 5px 3px;
}

.card ul.rows.read {
  display: block;
}

.card ul.rows > li {
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #ffffff;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  height: 35px;
  line-height: 35px;
}

.profile-main > .content {
  margin-left: 20px;
  width: auto;
  margin-top: 13px;
}

ul.rows > li h4 {
  float: left;
  text-indent: 18px;
}

.card ul.rows > li > h4 {
  width: 29.1%;
}

.profile h4 {
  font-size: 12px;
  font-weight: bold;
}

h3, h4 {
  margin-top: 0;
}

.header-button:hover {
  background-color: #2b70ab;
  text-decoration: none;
}

.card ul.rows > li > h4.text-field {
  width: 29.1%;
}

.profile label {
  font-size: 12px;
  color: #333;
}

.card div.text-field,
.card li.password > div {
  padding-top: 5px;
}

.card ul.rows > li input[type=text],
.card ul.rows > li input[type=password] {
  width: 300px;
}

.profile input[type=text],
.profile input[type=password],
.profile textarea {
  font-size: 12px;
  padding: 5px 5px 4px;
  border: 1px solid #CCC;
}
