.search-bar-container {
  float: left;
  margin-left: 18px;
  margin-top: 6px;
  position: relative;
}

.search-bar {
  overflow: hidden;
  width: 234px;
  background-color: rgba(255,255,255,0.18);
  border-radius: 3px;
}

.notifications {
  float: left;
}

.magnify {
  display: inline-block;
  float: left;
  margin: 6px 8px 0px 8px;
  /*background-position: 0 -877px;
  background-repeat: repeat-y;*/
  height: 13px;
  width: 13px;
}

.search-bar input {
  background-color: transparent;
  border: 0;
  color: #ECF0F4;
  float: left;
  font-weight: 400;
  height: 24px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  width: 178px;
  box-sizing: border-box;
}

.search-bar-container .search-help {
  float: right;
  padding: 0;
  line-height: 24px;
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  box-sizing: content-box;
  height: auto;
  top: auto;
  border: 1px solid transparent;
  position: relative;
}

.search-bar-container .search-help:after {
  content: '?';
  background-image: none;
  margin-top: 0;
}

.dropdown-menu-text.project-name {
  max-width: 300px;
  width: auto;
}
