section.edit {
  background: #e9e7dd;
  box-shadow: inset #888 0 0 7px;
  outline: 0;
  padding: 6px 10px 10px 10px;
}

.editor.std {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ADB0B7;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}

section.edit fieldset.name {
  position: relative;
  margin-right: 10px;
  padding: 0 28px 0 10px;
  box-sizing: border-box;
}

section.edit.new fieldset.name {
  padding-left: 0px;
}

section.edit fieldset.name textarea.editor {
  min-height: 23px;
  overflow: hidden;
  word-wrap: break-word;
  height: 23px;
  margin-bottom: 3px;
  resize: none;
}

section.edit fieldset.name .collapser {
    position: absolute;
    height: 13px;
    /*background-image: ;
    background-position: 0 -119px;
    background-repeat: repeat-y;*/
    width: 13px;
    top: 3px;
    left: -7px;
}

section.controls .actions button {
  float: left;
}

section.controls .cancel-and-save-buttons {
  float: right;
  border-radius: 4px;
  background-color: #DFDCD0;
  padding: 1px 0px 1px 7px;
  margin: -1px 0;
}

section.controls .cancel-and-save-buttons button {
  float: left;
}

.panel nav {
  height: 22px;
}

nav.edit {
  width: 290px;
  position: relative;
}

section.edit nav.edit .controls {
  margin: 10px 0;
}

section.edit .controls {
  float: left;
  position: relative;
}

form.model-details .actions {
  width: 290px;
}

section.edit nav.edit .cancel,
section.edit nav.edit .save {
  height: 22px;
  padding: 0;
}

.controls .cancel {
  line-height: 8px;
  width: 40px;
  float: left;
  text-align: center;
  margin-top: 0;
  margin-right: 6px;
  position: relative;
  color: #666;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}

.controls .cancel:hover {
  text-decoration: underline;
}

button.clear {
  background-color: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 10px;
}

.cancel-and-save-buttons .save {
  width: 51px;
}

button.std {
  background-color: #666;
  font-weight: 600;
  box-shadow: none;
  border: 1px solid #555;
  border-radius: 3px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 15px;
  font-size: 10px;
}

button.std:hover {
  background-color: #2B4C74;
  border-color: #24364C;
}

form.model-details .actions button {
  float: left;
  border: 1px solid #999;
  background-color: #EEEEEE;
  height: 22px;
  width: 22px;
}

form.model-details .actions button.link {
    position: relative;
}

.info-box {
  background-color: #f6f6f6;
  border: 1px solid #adb0b7;
  border-radius: 3px;
  width: 288px;
  clear: both;
  font-size: 10px;
}

.info-box li > em {
  color: #505050;
  text-transform: uppercase;
}

.dropdown.story-type .item-feature:before {
    /*background-image: ;
    background-position: 0 -187px;
    background-repeat: repeat-y;*/
    height: 16px;
    width: 16px;
}

.dropdown.story-type .selection > span {
  padding-left: 18px;
  max-width: 101%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown.story-type .selection,
.dropdown.story-estimate .selection {
  position: relative;
}

.dropdown .arrow {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 15px;
}

.dropdown .arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3.5px;
  /*background-image: ;
  background-position: 0 0;
  background-repeat: repeat-y;*/
  height: 6px;
  width: 7px;
}

.info-box li {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 9px;
  position: relative;
}

.info-box li .dropdown {
  float: right;
}

.dropdown a {
  text-transform: capitalize;
}

.dropdown .selection {
  overflow-y: visible;
  overflow-x: hidden;
  color: #000;
  display: block;
  text-decoration: none;
  padding-right: 18px;
  max-width: 150px;
}

.info-box li.owner .story-owners {
  float: right;
  position: relative;
}

.info-box li.owner .story-owners .add-owner {
  float: right;
  width: 14px;
  height: 14px;
  margin: 6px -1px 0 2px;
  border-width: 1px;
  border-style: solid;
}

.info-box li.owner a.add-owner {
  border-color: #f6f6f6;
}

.info-box li.owner .story-owners a {
  text-decoration: none;
}

.info-box li+li {
  border-top: 1px solid #adb0b7;
}

.info-box li.owner .story_owners .add_owner:after {
  content: "";
  /*background-image: ;
  background-position: 0 -16px;
  background-repeat: repeat-y;*/
  height: 8px;
  width: 8px;
  float: left;
  margin: 3px 0 0 3px;
}

.info-box li.owner .story-owners a span.none {
  position: absolute;
  color: black;
  margin-top: -7px;
  right: 17px;
}

.info-box li select, .info-box li .dropdown,
.info-box li .value, .info-box li.following input[type="checkbox"] {
  float: right;
}

.info_box li.following input[type="checkbox"] {
  border: none;
  box-sizing: content-box;
  margin: 8px 0 0 0;
  padding: 0;
  width: 13px;
}

.info-box li.following .count {
  margin: 0px 11px 0 0;
  float: right;
  letter-spacing: 1px;
  cursor: pointer;
  color: #0957a4;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
}

section.edit h4 {
  display: block;
  color: #000;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  margin-top: 14px;
  text-transform: uppercase;
}

section.edit .description .edit-description {
  text-transform: lowercase;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #0957a4;
  background: none;
  border: none;
  margin: 0 0 0 3px;
  padding: 0;
  cursor: pointer;
}

.model section.edit .description textarea.editor {
  overflow: hidden;
  word-wrap: break-word;
  height: 41px;
  box-shadow: none;
  position: relative;
  z-index: 2;
  display: none;
}

textarea.editor.std {
  margin-bottom: 3px;
  resize: none;
}

input.std, .editor.std {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ADB0B7;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}

.labels-maker {
  position: relative;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 2px 4px 1px 4px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ADB0B7;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 3px 2px 3px 5px;
  min-height: 29px;
}

.labels-maker .dropdown .selection {
  text-indent: -9999px;
  max-width: none;
}

.labels-maker .dropdown,
.labels-maker .dropdown .selection {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.dropdown .selection {
  overflow-y: visible;
  overflow-x: hidden;
  color: #000;
  display: block;
  text-decoration: none;
  padding-right: 18px;
  max-width: 150px;
  user-select: none;
}

.labels-maker .selected.labels li.input .search {
  line-height: 13px;
  font-size: 11px;
  border: 0;
  float: left;
  margin: 0;
  resize: none;
  padding-top: 2px;
  width: 100%;
}

.labels-maker .selected.labels li.input {
  min-width: 20px;
  max-width: 100%;
  overflow: hidden;
  min-height: 16px;
}

.labels-maker .selected.labels li {
  float: left;
  margin: 2px 3px 2px 0;
  position: relative;
  font-size: 11px;
  line-height: 13px;
  z-index: 1;
}

.labels-maker .selected.labels li.input .search:focus {
  outline: 0;
}

.dropdown section {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  margin: -2px -2px 0 0;
  width: 200px;
  z-index: 100;
}

.dropdown section .dropdown-menu {
  position: relative;
  display: block;
  float: right;
  max-height: 300px;
  min-width: 120px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  line-height: 1.3;
  z-index: 3;
  border: 1px solid #aaa;
  box-shadow: 0 1px 6px rgba(0,0,0,0.25);
}

.dropdown section .dropdown-menu .search-item {
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}

.dropdown-menu .search-item {
  padding: 5px;
}

.dropdown-menu input.search {
  box-sizing: border-box;
  border: 1px solid #aaa;
  margin: 0;
  padding: 3px 20px 3px 3px;
  outline: 0;
  width: 100%;
}

.dropdown-menu .search-item:after {
  /*background-image: ;
  background-position: 0 -49px;
  background-repeat: repeat-y;*/
  height: 14px;
  width: 14px;
  content: '';
  position: absolute;
  top: 9px;
  right: 9px;
}

.dropdown section .dropdown-menu > ul {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  max-height: 267px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown section .dropdown-menu .search-item ~ ul {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 31px;
}

.dropdown-menu .dropdown-item:first-child {
  border-top-width: 0;
}

.dropdown a, .dropdown .dropdown-item {
  text-transform: capitalize;
}

.dropdown-menu .dropdown-item {
  color: #333;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #eef0f1;
}

.dropdown.story-type .selection,
.dropdown.story-type .dropdown-item a,
.dropdown.story-estimate .selection,
.dropdown.story-estimate .dropdown-item a {
    position: relative;
}

.dropdown section .dropdown-menu a {
  display: block;
}

.dropdown-menu .dropdown-item a {
  padding: 7px 7px 7px;
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

.dropdown.story-type .dropdown-item a:before,
 .dropdown.story-estimate .dropdown-item a:before {
  margin-top: -2px;
}

.dropdown.story-type .selection:before,
.dropdown.story-type .dropdown-item a:before,
.dropdown.story-estimate .selection:before,
.dropdown.story-estimate .dropdown-item a:before {
  content: '';
  position: absolute;
}

.dropdown.story-type .dropdown-item a:before,
.dropdown.story-estimate .dropdown-item a:before {
  top: 7px;
}

.dropdown.story-type .item-feature:before {
  /*background-image: ;
  background-position: 0 -187px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}

.dropdown.story-type .item-bug:before {
  /*background-image: ;
  background-position: 0 -187px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}
.dropdown.story-type .item-bug:before {
  /*background-image: ;
  background-position: 0 -187px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}
.dropdown.story-type .item-bug:before {
  /*background-image: ;
  background-position: 0 -187px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}

.dropdown.story-type .selection > span,
.dropdown.story-type .dropdown-item a > span,
.dropdown.story-estimate .selection > span,
.dropdown.story-estimate .dropdown-item a > span {
  padding-left: 18px;
}
