.story {
  position: relative;
}

.story.feature .preview,
.story.bug .preview,
.story.chore .preview {
  background-color: #f4f4f4;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.story.accepted .preview {
  background-color: #daebcf;
  border-top: 1px solid #eefce2;
  border-bottom: 1px solid #c3d5b4;
  cursor: default;
}

.story.started .preview,
.story.finished .preview,
.story.delivered .preview,
.story.rejected .preview {
    background-color: #f3f3d1;
    border-bottom: 1px solid #dbdbb0;
}

.story.unscheduled .preview {
  background-color: #e4eff7;
}

.story.feature .preview:hover,
.story.bug .preview:hover,
.story.chore .preview:hover {
    background-color: #e6e6e6;
}

.story.accepted .preview:hover {
    background-color: #c6d9b7;
}

.story.started .preview:hover,
.story.finished .preview:hover,
.story.delivered .preview:hover,
.story.rejected .preview:hover {
    background-color: #f0f0c6;
}

.story.unscheduled .preview:hover {
  background-color: #d1e0ed;
}

.preview .button.state,
.preview .estimate,
.preview .reveal.button {
  float: right;
  margin: 0 0 0 2px;
}

.preview .estimate {
  cursor: default;
  height: 19px;
}

.preview .estimate label {
  border-bottom: 1px solid #888;
  min-width: 12px;
  color: #3F79A5;
  cursor: pointer;
  float: left;
  font-weight: normal;
  font-size: 10px;
  line-height: 1;
  margin-left: 4px;
  padding-bottom: 2px;
  height: 14px;
  text-align: center;
}

.preview span.estimate {
  margin-top: 2px;
}

.state.button,
a.state.button {
  border: 1px solid #fff;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding-top: 1px;
  width: 47px;
  border-radius: 3px;
}

.state.button {
  padding-top: 0;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.state.button.start {
  background-color: #e0e2e5;
  border-color: #c8cbd0;
}

.state.button.start:hover {
  background-color: #c8cbd0;
  border-color: #acb6c1;
}

.state.button:after,
a.state.button:after {
  content: '';
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  pointer-events: none;
}

.state.button.finish {
  background-color: #203e64;
  border-color: #172c51;
  color: #eee;
}

.state.button.finish:hover {
  background-color: #172c51;
  border-color: #111e40;
}

.state.button.deliver {
  background-color: #f39300;
  border-color: #f08000;
  color: #eee;
}

.state.button.deliver:hover {
  background-color: #f08000;
  border-color: #ec6b00;
}

.state.button.accept {
  background-color: #629200;
  border-color: #4e8200;
  color: #eee;
}

.state.button.accept:hover {
  background-color: #4e8200;
  border-color: #3c7100;
}

.state.button.reject:hover {
  background-color: #950828;
  border-color: #82001b;
}

.state.button.reject {
  background-color: #A71f39;
  border-color: #950828;
  color: #eee;
}

.state.button.restart:hover {
  background-color: #c8cbd0;
  border-color: #acb6c1;
}

.state.button.restart {
  background-color: #e0e2e5;
  border-color: #c8cbd0;
  width: 60px;
}

.state.button.restart:before, a.state.button.restart:before {
  background-color: #AA1224;
  border-radius: 4px;
  content: '';
  display: inline-block;
  margin: 0 4px 0 1px;
  width: 8px;
  height: 8px;
}

a {
  cursor: pointer;
}

.preview .expander {
    float: left;
    width: 17px;
    height: 24px;
}

.preview .expander:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-left: 4px solid #ADADAD;

  margin: 9px 0 0 5px;
  float: left;
}

.preview .selector {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  width: 22px;
  height: 19px;
  border-left: 1px dotted #bbb;
}

.preview .selector:before {
  content: '';
  float: left;
  margin: 4px 0 0 6px;
  width: 10px;
  height: 10px;
}

.preview .meta {
  cursor: default;
}

.meta {
  float: left;
  width: 30px;
  height: 15px;
  margin: 4px 0 0 18px;
  line-height: 19px;
}

li.story.feature .meta:before {
  content: '★';
  color: #D4BC35;
}

li.story.chore .meta:before {
  content: '⚙';
  color: #858381;
}

li.story.release .meta:before {
  content: '🏁';
}

li.story.bug .meta:before {
  content: '🐞';
}

.meta:before {
  float: left;
  height: 15px;
  margin-left: -18px;
  width: 18px;
}

.story .preview .name {
  margin: 2px 5px 3px 73px;
}

.preview .name {
  display: block;
}

.story .preview .story-name {
  font-size: 12px;
}

.story .preview .labels {
  display: block;
}

.preview .name .label:last-of-type {
  margin-right: 2px;
}

.label {
  color: #063;
}

.label.std {
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

.story-name
