.story {
  position: relative;
}

.story.accepted .preview {
  background-color: #daebcf;
  border-top: 1px solid #eefce2;
  border-bottom: 1px solid #c3d5b4;
  cursor: default;
}

a {
  cursor: pointer;
}

.preview .expander {
    float: left;
    width: 17px;
    height: 24px;
}

.preview .expander:before {
  content: '';
  width: 100%;
  height: 13px;
  /*background-image: ;
  background-position: 0 -530px;
  background-repeat: repeat-y;*/
  margin: 5px 0 0 1px;
  float: left;
}

.preview .selector {
  float: right;
  margin-top: 3px;
  margin-left: 5px;
  width: 22px;
  height: 19px;
  border-left: 1px dotted #bbb;
}

.preview .selector:before {
  content: '';
  float: left;
  margin: 4px 0 0 6px;
  width: 10px;
  height: 10px;
  /*background-image: ;
  background-position: 0 -1063px;
  background-repeat: repeat-y;*/
}

.preview .meta {
  cursor: default;
}

.meta {
  float: left;
  width: 30px;
  height: 15px;
  margin: 4px 0 0 18px;
  line-height: 19px;
}

.story .preview .name {
  margin: 2px 5px 3px 73px;
}

.preview .name {
  display: block;
}

.story .preview .story-name {
  font-size: 12px;
}

.story .preview .labels {
  display: block;
}

.preview .name .label:last-of-type {
  margin-right: 2px;
}

.label {
  color: #063;
}

.label.std {
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
