.dashboard > footer {
  padding-top: 115px;
  color: #9F9FA1;
  background-color: #f7f6f6;
  width: auto;
  font-size: 10px;
}

.footer-border {
  border-top: 1px solid #ccc;
}

.dashboard > footer a:hover {
  text-decoration: underline;
}

.dashboard > footer a {
  text-decoration: none;
  color: #7a7b7f;
  font-size: 12px;
  padding: 0 2px;
  padding: 0 2px 0 0;
  margin: 0 4px 0 0;
}

.footer-content {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  height: 42px;
}

.dashboard > footer a.twitter-link {
  float: right;
  background: url("twitter_icon.png") no-repeat 0 0;
  padding-left: 26px;
  height: 20px;
  margin-top: -2px;
  padding-top: 2px;
}
