.user-management-header {
  height: 70px;
  background: #32353C;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  font-weight: normal;
}

.user-management-header .name {
  padding-top: 10px;
}

.user-management-header .sections {
  height: 30px;
}

.user-management-header .sections .section {
  padding-top: 10px;
  height: 27px;
  float: left;
  font-size: 12px;
  margin-right: 30px;
}

.user-management-header .sections .section.decorate a {
  color: #85bfe6;
}

.user-management-header .sections .section a:hover {
  color: #85bfe6;
  text-decoration: underline;
}
