.projects-menu {
  position: absolute;
  top: 35px;
  z-index: 100;
  width: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  overflow: hidden;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.project-menu-list-group {
  float: left;
}

.menu-header {
  height: 32px;
  background-color: #908674;
  color: #fff;
  line-height: 32px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 33px;
  position: relative;
}

.projects-menu-list {
  height: 390px;
  width: 220px;
  background-color: #F3F3F3;
  position: relative;
  float: left;
}

.projects-menu-list,
.workspaces-menu-list {
  padding: 4px 0;
}

.projects-menu-list a {
  display: block;
  margin: 0 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  position: relative;
  white-space: nowrap;
  cursor:pointer;
}

.projects-menu a.top {
  font-size: 12px;
  color: #7C725E;
  font-weight: bold;
  position: relative;
}

.projects-menu-list a:hover {
  background-color: #E3E1DC;
}

.project-name {
  display: block;
  width: 194px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
