.sidebar-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #000;
  background-color: #2F3337;
  font-size: 12px;
  width: 230px;
  overflow: hidden;
}

.sidebar-header,
.sidebar-content,
.sidebar-footer {
  position: absolute;
  width: 100%;
}

.sidebar-header {
  top: 0;
  font-size: 12px;
  border-top: 1px solid #393A3C;
  border-bottom: 1px solid #000;
  background-color: #2c2d2f;
  height: 34px;
  box-sizing: border-box;
}

.toggle-sidebar {
  margin: 7px 0 0 13px;
  cursor: pointer;
  display: block;
  /*background-image: ;
  background-position: 0 -929px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}

.sidebar-content {
  top: 34px;
  bottom: 24px;
  color: #fff;
}

.settings-area {
  background: #1f2021;
}

.actions {
  background-color: #212123;
  border-bottom: 1px solid #000;
}

.sidebar-wrapper .add-story {
  display: block;
  position: relative;
  background-color: #2F3337;
  padding: 6px;
  cursor: pointer;
  height: 28px;
}

.add-story:hover span {
  background-color: #296792;
}

.add-story span {
  background-color: #21608a;
  padding: 0;
  line-height: 28px;
  height: 28px;
  color: #fff;
  border-radius: 2px;
  display: block;
}

.add-story span:before {
  content: '';
  float: left;
  margin: 9px 12px 0 10px;
  width: 10px;
  height: 10px;
}

.panels.my-work:before {
  opacity: 0.8;
  /*background-image: ;
  background-position: 0 -1023px;
  background-repeat: repeat-y;*/
  height: 16px;
  width: 16px;
}

.panels li:before {
  content: '';
  line-height: 29px;
  position: absolute;
  pointer-events: none;
  margin: 7px 9px 0 13px;
}

.sidebar-content label {
  display: block;
  padding: 9px 8px 8px 0px;
  overflow: hidden;
  box-sizing: border-box;
  height: 28px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  color: #CCCCCC;
  text-transform: capitalize;
  text-decoration: none;
}

.panel-name {
  display: block;
  text-indent: 38px;
  max-width: 101%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panels .epics, .panels .charts {
  margin-top: 6px;
  border-top: 4px solid #262a2e;
  margin-bottom: 3px;
}

form.panels label {
  cursor: pointer;
}

.sidebar-content label:hover {
  color: rgba(138,199,255,0.5);
}

nav .velocity,
nav .members {
  float: right;
  font-size: 10px;
  margin-left: 10px;
  color: #bbb;
  line-height: 14px;
  white-space: nowrap;
  text-decoration: none;
}

nav .velocity {
  max-width: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  font-weight: 600;
  padding: 0 10px 0 10px;
  margin: 0;
  line-height: 34px;
}

nav .members {
  max-width: 34px;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  font-weight: 600;
  padding: 0 10px 0 8px;
  margin: 0;
  line-height: 34px;
}

nav .velocity span {
  margin-left: -4px;
}

.float-right {
  float: right;
}

.settings-area .anchor {
  border-left: 1px solid #2f3337;
  display: block;
  float: left;
  height: 34px;
  width: 36px;
  position: relative;
}

.sidebar-footer {
  bottom: 0;
}

.panel .panel-footer,
.sidebar-footer {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  background-color: #2c2d2f;
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.04);
  height: 24px;
}

.sidebar-footer .width-mode {
  text-align: center;
  width: 42px;
  float: left;
  text-indent: 0px;
  color: #777;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 11px;
  line-height: 22px;
}

.sidebar-footer .width-mode:hover {
  color: #CCC;
}

.sidebar-footer .width-mode,
.sidebar-footer .fit-all {
  height: 24px;
  position: relative;
  cursor: pointer;
}

.sidebar-footer .fit-all {
  width: 22px;
  float: right;
}

.sidebar-footer .width-mode:before,
.sidebar-footer .fit-all:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
}

.sidebar-footer form .narrow {
  float: left;
  margin-right: 5px;
}

.sidebar-footer form .narrow,
.sidebar-footer form .wide {
  position: relative;
  height: 24px;
  text-indent: -9999px;
  width: 18px;
}

.sidebar-footer form,
.sidebar-footer .slider {
  height: 100%;
}

.slider {
  position: relative;
  cursor: pointer;
  min-height: 16px;
}
